version: '3.8'

services:
  python-app:
    build: .             
    container_name: backend-python
    expose:
      - "8080"           
    networks:
      - lab-network

  nginx-proxy:
    image: nginx:latest
    container_name: frontend-nginx
    ports:
      - "80:80"          
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - python-app       
    networks:
      - lab-network

networks:
  lab-network:
    driver: bridge
